form(action='/create',method='POST')
  label(for='ip1') Title
    input(type='text',name='title',id='ip1')
  label(for='ip2') Description  
    input(type='text',name='descr',id='ip2')
  button Create