extends ./common.pug

block content
  div(class='container')
    div(class='row')
      a.mr-1(href='/books',class='col',class='btn btn-primary',role='button') Books
      a.mr-1(href='/users',class='col',class='btn btn-primary',role='button') Users
      a.mr-1(href='/transaction',class='col',class='btn btn-primary',role='button') Transactions
    img(src='https://cdn.glitch.com/fddf319c-85c1-4913-a668-f1a5380d01d5%2Fimage.png?v=1588084320236')