doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  body
    .container
      h2= 'This is my shop'
      
        
      table.table
        thead
          tr
            th Book 
            th Description
            th Buy
           
        tbody
          each item in meow.booklist
            tr
              td 
                span=item.title
              td 
                span=item.description
              td 
                a(href='/shops/'+item.title+'/buy/'+go+'/xx/'+meow.name) Buy
             

      a(href='/shops/'+meow.name+'/add' class='btn btn-success' style="margin:200px") Create  
       br     
      a(href='/' class='btn btn-success') Back
       br
      a(href='/shops/'+meow.name+'/transaction' class='btn btn-success') Ordered